
/* 'Open Sans' font */
@import url(font.css);


header {
    background-color:#ed1c24;
    color:white;
    text-align:center;
    padding: 5px;
    height:100px;
    font-size: 18px;
    font-family: "Open Sans", sans-serif; 
    top: 0;
}

footer {
    background-color:#ed1c24;
    color:white;
    clear:both;
    text-align:center;
    padding:10px;
    width:100%;
    height:25px;
    position:absolute;
    bottom:0;
    left: 0px;
    right: 0px;

}

body {
  background: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
}

.login a{
    text-align: center;
    font-size: 20px;
    padding: 12px;
    background: #ebebeb;
    color: #555;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    font-size: 1em;
  }


.login {
  height: 400px;
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #ed1c24;
}

.login-header {
  background: #ed1c24;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #F4C7C7;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 1em;
  vertical-align: middle;
}

.login select {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 6px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}
.login label{
  display: block;
  text-align: right;
}


.login input[type="username"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.login input[type="text"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
  height: 10px;
  width: 100%;
}



/* Text fields' focus effect */
.login input[type="text"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #FF1E1E;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #CF0404;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}